<div class="panel panel-default calendar-info">
  <div class="panel-body">
    <p class="current-day-title">
      <%= t '.current_day', date: l(@current_date, format: :full) %>
    </p>

    <strong><%= t '.legend' %></strong>
    <ul>
      <li><span class="example current-day-example"></span> - <%= t '.current_day_example' %></li>
      <li><span class="example critical-example"></span> - <%= t '.critical_day_example' %></li>
    </ul>

    <strong><%= t '.critical_management' %></strong>
    <ul>
      <li><%= t '.critical_create' %></li>
      <li><%= t '.critical_append' %></li>
      <li><%= t '.critical_delete' %></li>
    </ul>
  </div>
</div>