<% if !@day_info[:current_period].nil? %>
    <p>
      <%= t '.belongs_to' %>
      <%= localized_period(@day_info[:current_period]) %>.
    </p>
    <p><%= t '.to_remove' %></p>
<% elsif @day_info[:close_periods].length == 1 %>
    <p>
      <%= t '.able_to_append' %>
      <%= localized_period(@day_info[:close_periods][0]) %>
    </p>
    <p><%= t '.to_append' %></p>
<% elsif @day_info[:close_periods].length > 1 %>
    <p><%= t '.to_close_intro' %></p>
    <ul>
      <% @day_info[:close_periods].each do |p| %>
          <li><%= localized_period(p) %></li>
      <% end %>
    </ul>
    <p><%= t '.to_close_forbid_append' %></p>
<% else %>
    <p><%= t '.able_to_create' %></p>
    <p><%= t '.to_create' %></p>
<% end %>