<% if !@day_info[:current_period].nil? %>
    <p>
      <%= t '.belongs_to' %>
      <%= l(@day_info[:current_period].from, format: :full_day) %>
      -
      <%= l(@day_info[:current_period].to, format: :full_day) %>.
    </p>
    <p><%= t '.to_remove' %></p>
<% elsif !@day_info[:closest_period].nil? %>
    <p>
      <%= t '.able_to_append' %>
      <%= l(@day_info[:closest_period].from, format: :full_day) %>
      -
      <%= l(@day_info[:closest_period].to, format: :full_day) %>
    </p>
    <p><%= t '.to_append' %></p>
<% else %>
    <p><%= t '.able_to_create' %></p>
    <p><%= t '.to_create' %></p>
<% end %>