<% content_for(:title, l(@day_info[:date], format: :full_day)) %>

<h1><%= l(@day_info[:date], format: :full_day) %></h1>

<%= render 'calendar/edit/day_description' %>
<hr />

<%= render 'calendar/edit/errors' %>
<%= form_for(@day_form, url: make_calendar_day_url(@day_info[:date]), method: :put, html: {autocomplete: 'off', class: 'calendar-day-form', id: 'critical_day_form'}) do |f| %>
    <%= render 'calendar/edit/is_critical', f: f %>
    <%= render 'calendar/edit/critical_day_value', f: f %>
    <%= render 'calendar/edit/delete_period', f: f %>
    <%= render 'calendar/edit/love', f: f %>
    <%= render 'calendar/edit/notes', f: f %>

    <div class="form-group">
      <%= f.submit(t('.save'), class: 'btn btn-primary') %>
    </div>
<% end %>
