<% content_for(:title, l(@day_info[:date], format: :full_day)) %>

<h1><%= l(@day_info[:date], format: :full_day) %></h1>

<%= render 'day_description' %>

<hr />

<% if @day_form.errors.count > 0 %>
    <div class="text-danger">
      <div><%= t '.errors' %></div>
      <ul>
        <% @day_form.errors.full_messages.each do |m| %>
            <li><%= m %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@day_form, url: make_calendar_day_url(@day_info[:date]), method: :put, html: {autocomplete: 'off'}) do |f| %>
    <div class="form-group">
      <label class="checkbox-inline">
        <%= f.check_box :is_critical, { disabled: @day_info[:close_periods].length > 1 }, 'on', 'off' %>
        <%= t '.is_critical' %>
      </label>
    </div>

    <% unless @day_info[:current_period].nil? %>
        <div class="form-group delete-period-block panel panel-default" id="delete-period-block">
          <div class="panel-heading"><%= t '.delete_title' %></div>
          <div class="panel-body">
            <div class="form-group">
              <p><%= t '.delete_description' %></p>

              <label class="radio-inline">
                <%= f.radio_button :delete_way, 'entirely', checked: true %>
                <%= t '.delete_entirely' %>
              </label>

              <br/>

              <label class="radio-inline">
                <%= f.radio_button :delete_way, 'tail' %>
                <%= t '.delete_tail' %>
              </label>

              <br/>

              <label class="radio-inline">
                <%= f.radio_button :delete_way, 'head' %>
                <%= t '.delete_head' %>
              </label>
            </div>

            <div>
              <span class="btn btn-default" id="delete-period-cancel"><%= t '.delete_cancel' %></span>
            </div>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.submit(t('.save'), class: 'btn btn-primary') %>
    </div>
<% end %>
