<% content_for(:title, l(@month_grid_data[:month_date], format: :full_month)) %>

<%= render 'calendar/calendar_controls' %>

<ul class="month-list">
  <% @month_grid_data[:month_list].each do |month| %>
    <li>
      <div class="month-header">
        <%= l(month[:month_date], format: :full_month) %>
      </div>
      <ul class="month-days-grid">
        <% month[:dates].first(7).each do |day| %>
          <li class="week-day">
            <%= l(day, format: :week_abbr) %>
          </li>
        <% end %>

        <% month[:dates].each_with_index do |date, date_index| %>
          <li class="day <%= calendar_day_opt_classes(date, date_index, month[:month_date], @month_grid_data[:critical_dates]) %>">
            <a class="day-content" href="<%= make_calendar_day_url(date) %>">
              <%= date.day %>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </li>
  <% end %>
</ul>
<div class="clearfix"></div>

<%= render 'calendar/calendar_controls' %>
