<ul class="month-list">
  <% @month_list[:month_list].each do |month| %>
    <li>
      <div class="month-header"><%= Date::MONTHNAMES[month[:first_date].month] %>, <%= month[:first_date].year %></div>
      <ul class="month-days-grid">
        <% month[:week].each_with_index do |week_day, week_day_index| %>
          <li class="week-day">
            <%= week_day %>
          </li>
        <% end %>
        <% month[:dates].each_with_index do |date, date_index| %>
          <li class="day week-day-number-<%= date_index % 7 %> week-number-<%= date_index / 7 %> <%= 'inactive' if date.month != month[:first_date].month %>">
            <div class="day-content">
              <%= date.day %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </li>
  <% end %>
</ul>
<div class="clearfix"></div>