<% content_for(:title, month_date_title(@month_grid_data[:month_date])) %>

<%= render 'calendar/calendar_controls' %>

<ul class="month-list">
  <% @month_grid_data[:month_list].each do |month| %>
    <li>
      <div class="month-header">
        <%= month_date_title(month[:month_date]) %>
      </div>
      <ul class="month-days-grid">
        <% month[:week_days].each do |week_day| %>
          <li class="week-day">
            <%= t('date.abbr_day_names')[week_day] %>
          </li>
        <% end %>
        <% month[:dates].each_with_index do |date, date_index| %>
          <li class="day <%= calendar_day_opt_classes(date, date_index, month[:month_date], @month_grid_data[:critical_dates]) %>">
            <a class="day-content" href="<%= make_calendar_day_url(date) %>">
              <%= date.day %>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </li>
  <% end %>
</ul>
<div class="clearfix"></div>

<%= render 'calendar/calendar_controls' %>
