<% content_for(:title, l(@day_info[:date], format: :full_day)) %>

<h1><%= l(@day_info[:date], format: :full_day) %></h1>

<%= render 'day_description' %>

<hr />

<% if @day_form.errors.count > 0 %>
    <div><%= t '.errors' %></div>
    <ul>
      <% @day_form.errors.full_messages.each do |m| %>
          <li><%= m %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for(@day_form, url: update_calendar_day_url(year: @day_info[:date].year, month: @day_info[:date].month, day: @day_info[:date].day), method: :put, html: {autocomplete: 'off'}) do |f| %>
    <div class="form-group">
      <label class="checkbox-inline">
        <%= f.check_box :critical_day %>
        <%= t '.critical_day' %>
      </label>
    </div>

    <% unless @day_info[:current_period].nil? %>
        <div class="form-group delete-period-block panel panel-default" id="delete-period-block">
          <div class="panel-heading"><%= t '.delete_title' %></div>
          <div class="panel-body">
            <div class="form-group">
              <p><%= t '.delete_description' %></p>

              <label class="radio-inline">
                <%= f.radio_button :delete_period, 'all', checked: true %>
                <%= t '.delete_whole' %>
              </label>

              <br/>

              <label class="radio-inline">
                <%= f.radio_button :delete_period, 'tail' %>
                <%= t '.delete_tail' %>
              </label>

              <br/>

              <label class="radio-inline">
                <%= f.radio_button :delete_period, 'head' %>
                <%= t '.delete_head' %>
              </label>
            </div>

            <div>
              <span class="btn btn-default" id="delete-period-cancel"><%= t '.delete_cancel' %></span>
            </div>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.submit(t('.save'), class: 'btn btn-primary') %>
    </div>
<% end %>
