<% content_for(:title, full_date_title(@day)) %>

<h1><%= full_date_title(@day) %></h1>

<% if @current_period.nil? %>
    <div>You are able to add a new critical period</div>
<% else %>
    <div>This day belongs to period <%= full_date_title(@current_period.from) %> - <%= full_date_title(@current_period.to) %></div>
<% end %>

<% if @day_form.errors.count > 0 %>
    <div>There are errors</div>
    <ul>
      <% @day_form.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for(@day_form, url: update_calendar_day_url(@day.year, @day.month, @day.day), method: :put) do |f| %>
    <%= f.label :critical_day, 'Critical day' %>
    <%= f.check_box :critical_day %>

    <div>
      <label>
        <%= f.radio_button :delete_period, 'all', checked: true %>
        Delete whole period
      </label>

      <label>
        <%= f.radio_button :delete_period, 'tail' %>
        Delete current and tail
      </label>

      <label>
        <%= f.radio_button :delete_period, 'head' %>
        Delete current and head
      </label>
    </div>

    <%= f.submit('Save') %>
<% end %>
