<% content_for(:title, t('.sign_up')) %>

<div class="user-form-container">
  <h1 class="user-form-header"><%= t('.sign_up') %></h1>

  <%= form_for(@user, builder: BootstrapFormBuilder, url: sign_up_url, method: :post, html: { class: 'form-horizontal' }) do |f| %>

      <% if f.object.errors.count > 0 %>
          <div class="form-group">
            <div class="text-danger col-sm-8 col-sm-offset-4"><%= t '.errors' %></div>
          </div>
      <% end %>

      <%= f.form_group(:email) do %>
        <%= f.label(:email, nil, class: 'col-sm-4 control-label') %>
        <div class="col-sm-8">
          <%= f.email_field(:email, placeholder: t('mongoid.attributes.user.email'), class: 'form-control', autofocus: '') %>
          <%= f.full_errors_for(:email) %>
        </div>
      <% end %>

      <%= f.form_group(:password) do %>
        <%= f.label(:password, nil, class: 'col-sm-4 control-label') %>
        <div class="col-sm-8">
          <%= f.password_field(:password, placeholder: t('mongoid.attributes.user.password'), class: 'form-control') %>
          <%= f.full_errors_for(:password) %>
        </div>
      <% end %>

      <%= f.form_group(:password_confirmation) do %>
        <%= f.label(:password_confirmation, nil, class: 'col-sm-4 control-label') %>
        <div class="col-sm-8">
          <%= f.password_field(:password_confirmation, placeholder: t('mongoid.attributes.user.password_confirmation'), class: 'form-control') %>
          <%= f.full_errors_for(:password_confirmation) %>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <%= f.button(t('.sign_up'), class: 'btn btn-default') %>
        </div>
      </div>
  <% end %>
</div>