<h1><%= t('.header') %></h1>

<p><%= t('.description') %></p>

<p><%= t('.functional_title') %>:</p>

<ul>
  <li><%= t('.functional.f1') %></li>
  <li><%= t('.functional.f2') %></li>
  <li><%= t('.functional.f3') %></li>
  <li><%= t('.functional.f4') %></li>
</ul>

<p>
  <%= t('.open_source') %>: <a href="https://github.com/violarium/ruby_moon">https://github.com/violarium/ruby_moon</a>.
</p>

<p>
  <%= t('.contact_me') %>: <a href="mailto:metus.violarium@gmail.com">metus.violarium@gmail.com</a>.
</p>