<div class="panel panel-default calendar-info">
  <div class="panel-body">
    <p class="current-day-title">
      <%= t '.current_day', date: l(@month_info[:current_date], format: :full) %>
    </p>

    <% unless @month_info[:upcoming_period].nil? %>
        <p class="upcoming-critical-period">
          <strong><%= t('.critical_period_upcoming') %></strong><br />
          <%= localized_period(@month_info[:upcoming_period]) %>
          <br />
          <%= t('.critical_period_days_left') %> <%= (@month_info[:upcoming_period].from - @month_info[:current_date]).to_i %>
        </p>
    <% end %>

    <strong><%= t '.legend' %></strong>
    <ul>
      <li><span class="example current-day-example"></span> - <%= t '.current_day_example' %></li>
      <li><span class="example critical-example"></span> - <%= t '.critical_day_example' %></li>
      <li><span class="example future-critical-example"></span> - <%= t '.future_critical_day_example' %></li>
    </ul>

    <strong><%= t '.critical_day_value' %></strong>
    <ul>
      <li><img class="example" src="<%= image_url('critical_day_value/small.svg') %>" /> - <%= t '.value_small' %></li>
      <li><img class="example" src="<%= image_url('critical_day_value/medium.svg') %>" /> - <%= t '.value_medium' %></li>
      <li><img class="example" src="<%= image_url('critical_day_value/large.svg') %>" /> - <%= t '.value_large' %></li>
    </ul>

    <strong><%= t '.love' %></strong>
    <ul>
      <li><img class="example" src="<%= image_url('love/protected.svg') %>" /> - <%= t '.love_protected' %></li>
      <li><img class="example" src="<%= image_url('love/unprotected.svg') %>" /> - <%= t '.love_unprotected' %></li>
    </ul>

    <strong><%= t '.critical_management' %></strong>
    <ul>
      <li><%= t '.critical_create' %></li>
      <li><%= t '.critical_append' %></li>
      <li><%= t '.critical_delete' %></li>
    </ul>
  </div>
</div>