<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="manifest" href="/manifest.json" />
  <link rel="icon" type="image/png" href="/icons/favicon.png" />
  <%= render 'layouts/webpush_init' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
  <%= render 'layouts/flash_messages' %>
  <%= yield %>
</div>

</body>
</html>
