<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="manifest" href="/manifest.json" />
  <script>
    <% if (Rails.application.secrets.dig(:webpush, :public_key)) %>
      window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.secrets.dig(:webpush, :public_key)).bytes %>);
    <% end %>
    window.webpush = {
      subscribePath: '<%= profile_web_subscribe_path %>'
    }
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
  <%= render 'layouts/flash_messages' %>
  <%= yield %>
</div>

</body>
</html>
